{% extends 'base.html' %} {% block header %}
<h1 class="text-center mt-5 display-4">
  {% block title %}Problems{% endblock %}
</h1>

{% if g.user['isAdmin'] == "TRUE" %}
<div class="d-flex justify-content-center">
  <a class="action btn btn-info mr-4" href="{{ url_for('questions.create') }}">New</a>
  <a class="action btn btn-primary" href="{{ url_for('questions.createAdmin') }}">Create Admin</a>
</div>
{% endif %}
{% endblock %} {% block content %}

<div class="container mt-5">
  <ul class="list-group">
    {% for problem in problems %} {% if problem['visible'] == "TRUE"%}

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-10">
          <h3>{{ problem['title'] }}</h3>
          <span class="about font-italic"> by {{ problem['username'] }} </span>
        </div>

        <div class="col-md-2 mx-auto">
          {% if g.user['id'] == problem['author_id'] and g.user['isAdmin'] == "TRUE" %}
          <a class="action btn btn-info" href="{{ url_for('questions.update', id=problem['id']) }}">Edit</a>
          {% endif %}
          <a class="action btn btn-success" href="{{ url_for('solver.index', id=problem['id']) }}">Solve</a>
        </div>
      </div>
    </li>
    {% endif %}
    {% if problem['visible'] == "FALSE" and g.user['isAdmin'] == "TRUE" %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-10">
          <h3>{{ problem['title'] }}</h3>
          <span class="about font-italic">by {{ problem['username'] }}</span>
        </div>
        {% if g.user['id'] == problem['author_id'] and g.user['isAdmin'] == "TRUE" %}
        <div class="col-md-2">
          <a class="action btn btn-info" href="{{ url_for('questions.update', id=problem['id']) }}">Edit</a>
        </div>
        {% endif %}
      </div>
    </li>

    {% endif %} {% if not loop.last %}
    <hr />
    {% endif %} {% endfor %} {% endblock %}
  </ul>
</div>
