{% extends 'base.html' %} {% block header %}
<h1 class="display-4 text-center mt-5">
  {% block title %}Edit "{{ post['title'] }}"{% endblock %}
</h1>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="card card-body col-md-12 mx-auto mb-5">
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input name="title" id="title" class="form-control" value="{{ request.form['title'] or post['title'] }}"
            required />
        </div>

        <div class="form-group">
          <label for="body">Body</label>
          <textarea name="body" id="body" class="form-control">{{ request.form['body'] or post['body'] }}</textarea>
        </div>

        <div class="form-group">
          <label for="file">Input File</label>
          <input type="file" class="form-control-file" name="in" id="file" required />
        </div>

        <div class="form-group">
          <label for="file">Output File</label>
          <input type="file" name="out" class="form-control-file" id="file" required />
        </div>

        <input type="submit" class="btn btn-block btn-info" value="Save" />
      </form>
      <hr />
      <form action="{{ url_for('questions.delete', id=post['id']) }}" method="post">
        <input class="btn btn-danger btn-block" type="submit" value="Delete"
          onclick="return confirm('Are you sure?');" />
      </form>
    </div>
  </div>
</div>

<script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('body');
</script>
{% endblock %}