html,
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left {
  height: 100vh;
  padding: 50px 0 100px 0;
  overflow: scroll;
}
.flex_first {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media all and (max-width:800px) {
  body {
    overflow: scroll;
  }
  .left {
    height: auto;

  }
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
